html,
body {
  height: 100%;
  background-image: url('https://i.pinimg.com/originals/30/b8/15/30b8155c74d74af745cefdb2693f315b.jpg');
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.box2 {
  padding: 0.5em 0.5em;
  margin: 2em 2em;
  font-weight: bold;
  color: #6091d3;/*文字色*/
  background: #FFF;
  border: solid 3px #6091d3;/*線*/
  border-radius: 30px;/*角の丸み*/
}
.box2 p {
  margin: 0; 
  padding: 0;
}

/* ボタン本体のスタイル */
.heart-button {
  /* ボタン要素の大きさや色 */
  position: relative;
  display: inline-block;
  background-color: #ef4b53;
  padding: 0.7em 2.1em;
  border-radius: 5px;
  border: 2px solid transparent;

  /* ボタンの文字の設定 */
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 11.5px;
  color: #fff;
  letter-spacing: 0.1em;

  /* その他必要なスタイル */
  transition: all 0.3s ease;
  cursor: pointer;
  text-decoration: none;
}

/* ハートの共通スタイル */
.heart-button::before,
.heart-button::after {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  opacity: 0;
}

/* 左上のハートのスタイル */
.heart-button::before {
  background-image: url('heart.svg');
  top: 0;
  left: -12px;
}

/* 右下のハートのスタイル */
.heart-button::after {
  background-image: url('heart-reverse.svg');
  bottom: -6px;
  right: -14px;
}

/* ========= ホバー時のスタイル ======== */

/* ボタンホバー時のスタイル */
.heart-button:hover {
  background-color: #fff;
  border-color: #ef4b53;
  color: #ef4b53;
}

/* ボタンホバー時の左上のハートのスタイル */
.heart-button:hover::before {
  animation: heart 1.5s infinite ease-out;
}

/* ボタンホバー時の右下のハートのスタイル */
.heart-button:hover::after {
  animation: heart 1.5s 0.2s infinite ease-out;
}

/* ========= アニメーションの設定 ======== */
@keyframes heart {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(-20px) scale(1.4);
    opacity: 0;
  }
}

/* ========= SPのスタイル ======== */
@media screen and (max-width: 768px) {

  /* ボタン本体のスタイル */
  .heart-button {
    background-color: #fff;
    border-color: #ef4b53;
    color: #ef4b53;
  }
  
  /* 左上のハートのスタイル */
  .heart-button::before {
    animation: heart 1.5s infinite ease-out;
  }

  /* 右下のハートのスタイル */
  .heart-button::after {
    animation: heart 1.5s 0.2s infinite ease-out;
  }
}

.after {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #ef4b53;
  border: solid 2px rgb(255, 9, 124);
  border-radius: 3px;
  transition: .4s;
}

.sample1 {  
  font-size: 20px;
  font-family: "serif";
}

/* POPUP */
.popup #content {
  padding: 10px;
}

.popup #container {
  min-width: 0;
}

.popup #header {
  padding: 10px 10px;
}

.btn-flat-border {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #1975ad;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-border:hover {
  background: #67c5ff;
  color: white;
}


.sample2{
  border-radius: 50px 50px 0px 0px;
}

.good{
  border-radius:30px;
}

h1:first-letter {
  font-size: 150%;
  color: #eb6100;
}

.sample3{
  border-radius: 50px 50px 50px 50px;
}

.cp_ipselect {
	overflow: hidden;
	width: 30%;
	margin: 2em auto;
	text-align: center;
}
.cp_ipselect select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl04 {
	position: relative;
	border-radius: 2px;
	border: 2px solid #1975ad;
  border-radius: 50px;
	background: #ffffff;
}
.cp_ipselect.cp_sl04::before {
	position: absolute;
	top: 0.8em;
	right: 0.8em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #1975ad;
	pointer-events: none;
}
.cp_ipselect.cp_sl04 select {
	padding: 8px 38px 8px 8px;
	color: #1975ad;
}

.push:visited{
  color: #1975ad;
}
