{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class = "sample2" style="width: 55%; margin-right: 40px;margin: 50px auto; border:20px;text-align: center; background-color:#ffffff;margin-bottom: 0px;">
<br>
<br>
<div>
<h1 class="good">クーポン</h1>
<p>{{user.username}}さん5回投稿ありがとうございます。</p>
<h2 style="color :coral">sample coupon</h2>
<p>クーポンは<a href="#">こちら</a>のショッピングサイトで使用することができます。</p>
<p>※クーポンは一度しか使用できません。</p>

<a href="{% url 'list' %}">ホームに戻る</a>
</div>
{% endblock content %}
