{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<div class='container sample3' style="width: 55%; margin-right: 40px;margin: 50px auto; border:20px;text-align: center; background-color:#ffffff;margin-bottom: 0px;">
<form action ='' method='POST' enctype="multipart/form-data">{% csrf_token %}
<br>
<br>
<textarea name='title' cols="30" rows="1" placeholder="タイトル"></textarea>
<br>
<textarea name='content' cols="30" rows="5" placeholder="内容"></textarea>
<br>
<p style="text-align:center"><input type='file' name='images'></p>

<input type='hidden' name='author' value= {{ user.username }}>

<input type='submit' value='作成する'>
</form>
<br>
<br>
</div>
{% else %}
ログインしてください
{% endif %}
{% endblock content %}
