{% extends 'base.html' %}


{% block header %}

{% endblock header %}

{% block content %}
<div class='container sample3' style="width: 55%; margin-right: 40px;margin: 50px auto; border:20px;text-align: center; background-color:#ffffff;margin-bottom: 0px;">
  <br>
  <div role="alert">
  
    <h1>{{object.title}}</h1>
    <p>投稿者：{{object.author}}</p>
    <p>内容：{{object.content}}</p>
    <p><img src="{{object.images.url}}" width=300></p>

    {% if object.liked == user.username %}
    <a href="#" class="after" role="button" aria-pressed="true">いいね : {{item.good}}</a>
    &nbsp;&nbsp;
    <a href="#"  class="btn-flat-border" role="button" aria-pressed="true">既読 : {{item.read}}人</a>
    {% else %}
    <a href="{% url 'good' object.pk %}" class="heart-button" role="button" aria-pressed="true">いいねする</a>
    <a href="{% url 'read' object.pk %}" class="btn-flat-border" role="button" aria-pressed="true">既読にする</a>
    {% endif %}
    {% if request.user.is_authenticated %}
    <a href="{% url 'delete' object.pk %}">削除</a>
    <a href="{% url 'list' %}">戻る</a>
    {% endif %}

    <br>
   <br>
  </div>


</div>
{% endblock content %}






