{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class = "sample2" style="width: 55%; margin-right: 40px;margin: 50px auto; border:20px;text-align: center; background-color:#ffffff;margin-bottom: 0px;">
<br>
<br>
<div>
  {% if messages %}
	<ul class="messages_ul">
		{% for message in messages %}
			<li class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %} alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{{ message }}</li>
		{% endfor %}
	</ul>
{% endif %}
<h1 class="good">ロス活</h1>
<h2><a href="{% url 'my_page' %}">{{user.username}}</a></h2>
<h5>
  <span style="margin-right:130px"><a href="{% url 'logout' %}">ログアウト</a></span>
  <span style="margin-left:120px"><a href="{% url 'create' %}">投稿</a></span>
</h5>

</div> 
<div class="cp_ipselect cp_sl04">
<select name="select" onChange="location.href=value;" required>
  <option value="#">新着順</option>
  <option value="{% url 'popular' %}">いいね順</option>
</select>
</div>
  {% for item in page_obj %}
  <div class="box2">
    <p>タイトル：<a href="{% url 'detail' item.pk %}">{{item.title}}</a></p>
    <p>投稿者：{{item.author}}</p>
    <p>投稿日 : {{item.date}}</p>

    {% if user.username == item.liked %}
    <a href="#" class="after" role="button" aria-pressed="true">いいね : {{item.good}}</a>
    &nbsp;&nbsp;
    <a href="#"  class="btn-flat-border" role="button" aria-pressed="true">既読 : {{item.read}}人</a>
    {% else %}
    <a href="#" class="heart-button" role="button" aria-pressed="true">いいね : {{item.good}}</a>
    &nbsp;&nbsp;
    <a href="#"  class="btn-flat-border" role="button" aria-pressed="true">既読 : {{item.read}}人</a>
    {% endif %}
  </div>
  {% endfor %}
  {% include "page.html" %}
</div>
{% endblock content %}


