{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class = "sample2" style="width: 55%; margin-right: 40px;margin: 50px auto; border:20px;text-align: center; background-color:#ffffff;margin-bottom: 0px;">
    <br>
    <br>
<div>
    <h1>{{user.username}}</h1>
    <h5>
      <span style="margin-right:130px"><a href="{% url 'logout' %}">ログアウト</a></span>
      <span style="margin-left:120px"><a href="{% url 'create' %}">投稿</a></span>
    </h5>
    <h3>投稿一覧</h3>
    <div class="cp_ipselect cp_sl04">
        <select name="select" onChange="location.href=value;" required>
          <option value="#">いいね順</option>
          <option value="{% url 'my_page' %}">新着順</option>
          <option value="{% url 'liked' %}">いいねした投稿</option>
        </select>
        </div>

    {% for item in page_obj %}
    <div class="box2">
      <p>タイトル：<a href="{% url 'detail' item.pk %}">{{item.title}}</a></p>
      <p>投稿者：{{item.author}}</p>
      <p>投稿日 : {{item.date}}</p>

      {% if user.username == item.liked %}
      <a href="#" class="after" role="button" aria-pressed="true">いいね : {{item.good}}</a>
      &nbsp;&nbsp;
      <a href="#"  class="btn-flat-border" role="button" aria-pressed="true">既読 : {{item.read}}人</a>
      {% else %}
      <a href="#" class="heart-button" role="button" aria-pressed="true">いいね : {{item.good}}</a>
      &nbsp;&nbsp;
      <a href="#"  class="btn-flat-border" role="button" aria-pressed="true">既読 : {{item.read}}人</a>
      {% endif %}
      </div>
    {% endfor %}
    <a href="{% url 'list' %}">ホーム</a>
    {% include "page.html" %}

{% endblock %}
