{% extends 'base.html' %}
{% load static %}

{% block customcss %} 
<link rel='stylesheet' type='text/css' href="{% static 'style.css' %}">
{% endblock customcss %} 

{% block content %}
<div class='container sample3' style="width: 55%; margin-right: 40px;margin: 50px auto; border:20px;text-align: center; background-color:#ffffff;margin-bottom: 0px;">
  <h1 class="good">ロス活</h1>
  <form class="form-signin" method="POST" action=''>{% csrf_token %}
    <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>

    {% if error %}
    {{ error }}
    {% endif %}
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="text" id="inputEmail" class="form-control" name='username' placeholder="username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" name='password' placeholder="Password" required>
    <div class="checkbox mb-3">
    </div>
    <button onclick = "login" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
  <br>
</div>
{% endblock content %}
